<html>
    <head>
        <title>app</title>
    </head>
    <body>
        <div>
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('login')}}">Sign In</a>
        <div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in message %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>