{% extends "base.html" %}

{% block content %}
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.lastname.label }}
            {{ form.lastname(size=40) }}
        </p>
        <p>
            {{ form.email.label }}
            {{ form.email(size=50) }}
        </p>
        <p>
            {{ form.phone.label }}
            {{ form.phone(size=14) }}
        </p>
        <p>
            {{ form.username.label }}
            {{ form.username(size=16) }}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.submit }}
        </p>
    </form>
{% endblock %}